<a class="car" [routerLink]="['/cars', 'demo']">
  <img class="image" src="https://pixabay.com/get/eb30b7092bf5023ed95c4518b74b4394e371e3d504b0144091f3c97da6edb4_640.jpg" />
  <span class="title">Sabine - 1967 VW Beetle</span>
</a>

<a class="car" [routerLink]="['/cars', 'demo']">
  <img class="image" src="https://pixabay.com/get/eb30b7092bf5023ed95c4518b74b4394e371e3d504b0144091f3c97da6edb4_640.jpg" />
  <span class="title">Sabine - 1967 VW Beetle</span>
</a>

<a class="car" [routerLink]="['/cars', 'demo']">
  <img class="image" src="https://pixabay.com/get/eb30b7092bf5023ed95c4518b74b4394e371e3d504b0144091f3c97da6edb4_640.jpg" />
  <span class="title">Sabine - 1967 VW Beetle</span>
</a>

<a class="car" [routerLink]="['/cars', 'demo']">
  <img class="image" src="https://pixabay.com/get/eb30b7092bf5023ed95c4518b74b4394e371e3d504b0144091f3c97da6edb4_640.jpg" />
  <span class="title">Sabine - 1967 VW Beetle</span>
</a>

<a class="car" [routerLink]="['/cars', 'demo']">
  <img class="image" src="https://pixabay.com/get/eb30b7092bf5023ed95c4518b74b4394e371e3d504b0144091f3c97da6edb4_640.jpg" />
  <span class="title">Sabine - 1967 VW Beetle</span>
</a>

<a class="car" [routerLink]="['/cars', 'demo']">
  <img class="image" src="https://pixabay.com/get/eb30b7092bf5023ed95c4518b74b4394e371e3d504b0144091f3c97da6edb4_640.jpg" />
  <span class="title">Sabine - 1967 VW Beetle</span>
</a>

