<p *ngIf="loading">
  Loading...
</p>

<div *ngIf="!loading">

  <h2 class="title">
    {{car.name}} - {{car.year}} {{car.make}} {{car.model}}
  </h2>

  <div class="car-info">
    <img class="image" [src]="car.imageUrl" />
  </div>

  <div class="comment-section">
    <h3 class="comments-title">Comments</h3>

    <ol class="comments">
      <li class="comment" *ngFor="let comment of comments">
        <p class="body">{{comment.body}}</p>
        <span class="author">{{comment.author}}</span>
      </li>
    </ol>
  </div>

</div>
