/* You can add global styles to this file, and also import other style files */

* { box-sizing: border-box; }

html {
  background: #f2f2f2;
}

body {
  font-family: sans-serif;
}

.page-title {
  text-align: center;
  margin-top: 40px;
}

.page-title a {
  color: #000;
  text-decoration: none;
  border-bottom: 4px solid #000;
  transition: all 0.2s;
  display: inline-block;
}

.page-title a:hover {
  transform: skewX(-15deg);
  padding-left: 10px;
}

.container {
  max-width: 960px;
  background: #fff;
  margin: 40px auto;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
